body {
  margin: 0;
  font-family: 'Times New Roman';
}

.App {
  display: grid;
  grid-template-rows: min-content auto min-content; 
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content:space-between;
  background-color: #745d49;
  color: white;
  grid-column: 1 / span 2;
  padding: 15px 10px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
  color: #745d49;
}

nav {
  background-color: #f7f2e9;
  color: #3b3029;
  grid-row: 2 / span 2;;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
  color: #745d49
}

article .body {
  white-space: break-spaces;
  color: #745d49
}

.error {
  background-color: rgb(74, 22, 22);
  color: rgb(181, 135, 49);
  padding: 5px;
}

button {
  background-color: #745d49;
  border-style: double;
  border-color: #f7f2e9;
  color: white;
  padding: 5px 10px;
  font-family: 'Times New Roman';
}

footer {
  text-align: right;
}